* {
    margin: 0;
    padding: 0;
}

path:hover {
    fill: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    transition: 100ms;
}

span, h1, h3 {
    cursor: cell;
}

/* código para deixar o svg responsivo: */
.container{
    width: 50%;
    height: 0;
    padding-top: 48%;
    position: relative;
}

svg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}