.particles {
	background-image: linear-gradient(to bottom, #002b50, #131d3d);
	/*filter: blur(2px);*/
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
}

.Header {
	margin: 20;
	padding: 0;
}